

<mat-card class="shell">
  <div class="head flex-between">
    <div class="title" *ngIf="patient$ | async as p; else loadingTpl">
      <h2 class="m0">You working on</h2>
      <div class="muted">
        <h1 style="margin-top: 0; font-size: 1.5rem; color: blue; font-weight: bold;">Patient: {{ p.name }}</h1>
      </div>
    </div>

    <div class="actions" *ngIf="patient$ | async as p; else loadingTpl">
      <a mat-button [routerLink]="['/patients', 'patients']">Retour patient</a>
    </div>
  
  </div>

  <mat-tab-group>
    <!-- Onglet 1 : Infos -->
    <mat-tab label="Infos">
      <div class="pad">
        <ng-container *ngIf="patient$ | async as p; else loadingTpl">
          <div class="grid">
            <div>
              <div class="label">Nom</div>
              <div class="val">{{ p?.name || '—' }}</div>
            </div>
            <div>
              <div class="label">Genre</div>
              <div class="val">{{ p?.gender || '—' }}</div>
            </div>
            <div>
              <div class="label">Date de naissance</div>
              <div class="val">{{ toDate(p?.dob) | date:'yyyy-MM-dd' }}</div>
            </div>
            <div>
              <div class="label">Téléphone</div>
              <div class="val">{{ p?.phone || '—' }}</div>
            </div>
            <div class="span-3">
              <div class="label">Adresse</div>
              <div class="val">{{ p?.address || '—' }}</div>
            </div>
            <div class="span-3">
              <div class="label">Payor</div>
              <div class="val">{{ p?.paiement || '—' }}</div>
            </div>
            <div class="span-2">
              <div class="label">Complaint</div>
              <div class="val">{{ p?.raison || '—' }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-tab> 
    
    <!--Document-->
    <mat-tab label="Documents">
      <div class="pad">
        <app-document></app-document>
      </div>
    </mat-tab>
    <!--Paiement-->
    <mat-tab label="Paiement">
      <div class="pad"  *ngIf="patient$ | async as p; else loadingTpl">
       <app-reception-payment [patientId]="p?.id"></app-reception-payment>

      </div>
    </mat-tab>
    <!--Appointment-->
    <mat-tab label="--Appointment--">
      <div class="pad" *ngIf="patient$ | async as p; else loadingTpl">
       <patient-appointments
  [patientId]="p?.id"
  [patientName]="p?.fullName">
</patient-appointments>

      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>


<ng-template #loadingTpl>
  <div class="center pad">
    <mat-spinner diameter="36"></mat-spinner>
  </div>
</ng-template>
