<mat-card class="shell">
  <div class="head flex-between">
    <div class="title" *ngIf="patient$ | async as p; else loadingTpl">
      <h2 class="m0">You working on</h2>
      <div class="muted">
        <h1 style="margin-top: 0; font-size: 1.5rem; color: blue; font-weight: bold;">Patient: {{ p.name }}</h1>
      </div>
    </div>

    <a mat-stroked-button [routerLink]="['/nurse','patients']">
      <mat-icon>arrow_back</mat-icon>&nbsp;Retour liste
    </a>
  </div>

  <mat-tab-group>
    <!-- Onglet 1 : Infos -->
    <mat-tab label="Infos">
      <div class="pad">
        <ng-container *ngIf="patient$ | async as p; else loadingTpl">
          <div class="grid">
            <div>
              <div class="label">Nom</div>
              <div class="val">{{ p?.name || '—' }}</div>
            </div>
            <div>
              <div class="label">Genre</div>
              <div class="val">{{ p?.gender || '—' }}</div>
            </div>
            <div>
              <div class="label">Date de naissance</div>
              <div class="val">{{ toDate(p?.dob) | date:'yyyy-MM-dd' }}</div>
            </div>
            <div>
              <div class="label">Téléphone</div>
              <div class="val">{{ p?.phone || '—' }}</div>
            </div>
            <div class="span-3">
              <div class="label">Adresse</div>
              <div class="val">{{ p?.address || '—' }}</div>
            </div>
            <div class="span-3">
              <div class="label">Payor</div>
              <div class="val">{{ p?.paiement || '—' }}</div>
            </div>
            <div class="span-2">
              <div class="label">Complaint</div>
              <div class="val">{{ p?.raison || '—' }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-tab> 
    
    <!-- Onglet 3 : Tâches -->
    <mat-tab label="Dashboard">
      <div class="pad">
        <app-nurse-tasks></app-nurse-tasks>
      </div>
    </mat-tab>

    <!-- Onglet 2 : Prescriptions -->
    <mat-tab label="Prescriptions">
      <div class="pad">
        <app-nurse-prescriptions></app-nurse-prescriptions>
      </div>
    </mat-tab>

   

    <!-- Onglet 4 : Assessments (placeholder) -->
    <mat-tab label="Assessments">
      <div class="pad">
        <app-nurse-assessment></app-nurse-assessment>
      </div>
    </mat-tab>

    <!--lab result-->
    <mat-tab label="lab result">
      <div class="pad">
        <app-nurse-lab-list></app-nurse-lab-list>
      </div>
    </mat-tab>


    <!-- Onglet 4 : SKIN AND WOUND (placeholder) -->
    <mat-tab label="skin and Wound" *ngIf="patient$ | async as p; else loadingTpl">
      <div class="pad">
        <button mat-stroked-button (click)="gotoWounds(p)">
          <mat-icon>healing</mat-icon>&nbsp;Wounds
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<ng-template #loadingTpl>
  <div class="center pad">
    <mat-spinner diameter="36"></mat-spinner>
  </div>
</ng-template>
