<h2 mat-dialog-title>Ajouter un Vaccin</h2>
<mat-dialog-content>
  <form [formGroup]="vaccineForm">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Type de Vaccin</mat-label>
        <mat-select formControlName="vaccineType" required>
          <mat-option *ngFor="let vaccine of vaccineTypes" [value]="vaccine">
            {{ vaccine }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <!-- Date d'administration -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Date d'administration</mat-label>
      <input matInput formControlName="administrationDate" type="date" required />
    </mat-form-field>

    <!-- Heure -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Heure</mat-label>
      <input matInput formControlName="time" placeholder="Ex: 14:30" type="time">
    </mat-form-field>

    <!-- Voie d'administration -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Voie d'administration</mat-label>
      <mat-select formControlName="routeOfAdministration" required>
        <mat-option *ngFor="let route of routesOfAdministration" [value]="route">
          {{ route }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Dose -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Dose</mat-label>
      <input matInput formControlName="dose" type="number" placeholder="Ex: 10" maxlength="6" required>
    </mat-form-field>

    <!-- Unité -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Unité</mat-label>
      <mat-select formControlName="unit" required>
        <mat-option *ngFor="let unit of units" [value]="unit">
          {{ unit }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Lieu d'administration -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Lieu d'administration</mat-label>
      <mat-select formControlName="locationGiven" required>
        <mat-option *ngFor="let location of locations" [value]="location">
          {{ location }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Administré par -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Administré par</mat-label>
      <mat-select formControlName="administeredBy" required>
        <mat-option *ngFor="let admin of admins" [value]="admin">
          {{ admin }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Date d'expiration -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Date d'expiration</mat-label>
      <input matInput formControlName="substanceExpirationDate" type="date" required />
    </mat-form-field>

    <!-- Nom du fabricant -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nom du fabricant</mat-label>
      <input matInput formControlName="manufacturerName" placeholder="Nom du fabricant (max: 50 caractères)" maxlength="50">
    </mat-form-field>

    <!-- Numéro de lot -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Numéro de lot</mat-label>
      <input matInput formControlName="lotNumber" placeholder="Ex: LOT12345" maxlength="10">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" [disabled]="!vaccineForm.valid" (click)="onSave()">Enregistrer</button>
</mat-dialog-actions>
