<div class="formations-container">
    <header class="hero-section">
      <h1>Nos Formations</h1>
      <p>Découvrez nos programmes de formation conçus pour développer vos compétences et répondre aux besoins du domaine de la santé.</p>
    </header>
  
    <section class="formation-list">
      <!-- Formation : Premiers Secours -->
      <div class="formation-card">
        <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782319/website%20assets/file-1ddi2JGCNQTQP0OUIfWpIhAQ_wru9ij.webp" alt="Premiers Secours" style="border-radius: 20px;" />
        <h2>Formation en Premiers Secours</h2>
        <p>Maîtrisez les gestes essentiels pour réagir efficacement face à des urgences médicales et sauver des vies.</p>
        <button>En savoir plus</button>
      </div>
  
      <!-- Formation : Soins de Plaies -->
      <div class="formation-card">
        <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782319/website%20assets/file-Dy15BeoA0dCwERFBiSV0hMaz_di0ozb.webp" alt="Soins de Plaies" style="border-radius: 20px;"  />
        <h2>Formation Spécialisante en Soins de Plaies</h2>
        <p>Approfondissez vos connaissances sur la prise en charge des plaies complexes pour des soins professionnels et efficaces.</p>
        <button>En savoir plus</button>
      </div>
  
      <!-- Formation : Préparation aux Examens Internationaux -->
      <div class="formation-card">
        <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687839932/website%20assets/pexels-kindel-media-7688460_tsxvzb.jpg" alt="Préparation aux Examens" style="border-radius: 20px;" />
        <h2>Préparation aux Examens Internationaux</h2>
        <p>Préparez-vous efficacement aux certifications internationales (NCLEX-US, DHA, HAAD) pour une carrière globale.</p>
        <button>En savoir plus</button>
      </div>
    </section>
  
    <footer class="footer-section">
      <p>Nos formations sont ouvertes aux particuliers, entreprises, et étudiants du secteur de la santé.</p>
      <p>Avec WCP, développez des compétences clés et certifiez votre expertise.</p>
    </footer>
  </div>
  