<h2 mat-dialog-title>Ajouter une Prescription</h2>
<mat-dialog-content [formGroup]="pharmacyForm">
  <!-- Détails de la prescription --> 
   <mat-form-field appearance="fill">
      <mat-label>Date Prescription </mat-label>
      <input matInput formControlName="date" type="date" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Temps</mat-label>
      <input matInput type="time" formControlName="time" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Categorie</mat-label>
        <mat-select formControlName="category" required placeholder="Enter Prescription Method">
          <mat-option value="Laboratory">Laboratoire</mat-option>
          <mat-option value="Pharmacy">Pharmacie</mat-option>
          <mat-option value="Diagnostic">Diagnostique</mat-option>
          <mat-option value="Supplement">Supplement</mat-option>
          <mat-option value="Nutrition">Nutrition</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Methode</mat-label>
      <mat-select formControlName="method" required placeholder="Enter Prescription Method">
        <mat-option value="Téléphone">Téléphone</mat-option>
        <mat-option value="Verbale">Verbale</mat-option>
        <mat-option value="Ecrite">Ecrite</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prescripteur</mat-label>
      <input matInput formControlName="prescriber" placeholder="Enter prescriber name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nom du Medicament</mat-label>
      <textarea matInput formControlName="description" placeholder="Enter The medication" required ></textarea>
    </mat-form-field>

    
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" required>
       <mat-option value="Analgesic">Analgesic</mat-option>
        <mat-option value="Antibiotic">Antibiotic</mat-option>
        <mat-option value="Antidepressant">Antidepressant</mat-option>
        <mat-option value="antianxieté"> Anti-Anxieté</mat-option>
        <mat-option value="Anticoagulant">Anticoagulant</mat-option>
        <mat-option value="AntiCovulsivant">AntiCovulsivant</mat-option>
        <mat-option value="Sedatif">Sedatif</mat-option>
        <mat-option value="Antidiabetique">Antidiabetique</mat-option>
        <mat-option value="AntiPsychotique">AntiPsychotique</mat-option>
        <mat-option value="Cardiovasculaire">Cardiovasculaire</mat-option>
        <mat-option value="Diurétique">Diurétique</mat-option>
        <mat-option value="Nebulisateur">Nebulisateur</mat-option>
        <mat-option value="Antipaludéen">Antipaludéen</mat-option>
        <mat-option value="Antidiarhéique">Antidiarhéique</mat-option>
        <mat-option value="Antitoussif">Antitoussif</mat-option>
        <mat-option value="Lubrifiant">Lubrifiant</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Route d'Administration</mat-label>
      <mat-select formControlName="route" required>
        <mat-option value="Oral">Oral</mat-option>
        <mat-option value="Intravenous">Intravenous</mat-option>
        <mat-option value="Enteral">Enteral</mat-option>
        <mat-option value="Subcutaneous">Subcutaneous</mat-option>
        <mat-option value="IntraMusculaire">Intra-Musculaire</mat-option>
        <mat-option value="Rectal">Rectal</mat-option>
        <mat-option value="topique">topique</mat-option>
        <mat-option value="Sublingual">Sublingual</mat-option>
        <mat-option value="transdermal">transdermal</mat-option>
        <mat-option value="via injection epidurale">via injection epidurale</mat-option>
        <mat-option value="via Tube Gastro">via Tube Gastro</mat-option>
        <mat-option value="Via Port">Via Port</mat-option>
        <mat-option value="via implant">via implant</mat-option>
        <mat-option value="Via irrigation">Via irrigation</mat-option>
        <mat-option value="perfusion">perfusion</mat-option>
        <mat-option value="Intravesical">Intravesical</mat-option>
        <mat-option value="hemodialyse">hemodialyse</mat-option>
        <mat-option value="dans les deux yeux">dans les deux yeux</mat-option>
        <mat-option value="Dans l'oeil gauche">Dans l'oeil gauche</mat-option>
        <mat-option value="Dans l'oeil droit">Dans l'oeil droit</mat-option>
        <mat-option value="dans l'oreille gauche">dans l'oreille gauche</mat-option>
        <mat-option value="dans l'oreille droite">dans l'oreille droite</mat-option>
        <mat-option value="cavité Peritonéal">cavité Peritonéal</mat-option>
      </mat-select>
    </mat-form-field>
  <section>
    <h3>Routine</h3>
    <mat-form-field appearance="fill">
      <mat-label>Fréquence</mat-label>
      <mat-select formControlName="frequency">
        <mat-option value="once-a-day">Une fois par jour</mat-option>
        <mat-option value="twice-a-day">Deux fois par jour</mat-option>
        <mat-option value="morning">Le matin</mat-option>
        <mat-option value="evening">Le soir</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Planification</mat-label>
      <mat-select formControlName="scheduleType" (selectionChange)="onScheduleTypeChange($event.value)">
        <mat-option value="daily">Tous les jours</mat-option>
        <mat-option value="every-x-days">Chaque X jours</mat-option>
        <mat-option value="specific-days">Jours spécifiques de la semaine</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Input pour 'Chaque X jours' -->
    <div *ngIf="selectedScheduleType === 'every-x-days'">
      <mat-form-field appearance="standard">
        <mat-label>Chaque combien de jours</mat-label>
        <input matInput type="number" formControlName="everyXDays" placeholder="Nombre de jours" />
      </mat-form-field>
    </div>

    <!-- Jours spécifiques -->
    <div *ngIf="selectedScheduleType === 'specific-days'">
      <h4>Sélectionnez les jours</h4>
      <mat-checkbox formControlName="monday">Lundi</mat-checkbox>
      <mat-checkbox formControlName="tuesday">Mardi</mat-checkbox>
      <mat-checkbox formControlName="wednesday">Mercredi</mat-checkbox>
      <mat-checkbox formControlName="thursday">Jeudi</mat-checkbox>
      <mat-checkbox formControlName="friday">Vendredi</mat-checkbox>
      <mat-checkbox formControlName="saturday">Samedi</mat-checkbox>
      <mat-checkbox formControlName="sunday">Dimanche</mat-checkbox>
    </div>

    <!-- Autres détails -->
    <mat-form-field appearance="fill">
      <mat-label>Code Temps de la Structure</mat-label>
      <mat-select formControlName="timeCode">
        <mat-option value="weekly">Par semaine</mat-option>
        <mat-option value="weekly-on-shift">Semaine Journée</mat-option>
        <mat-option value="day-shift">Journée</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Diagnostic Associé</mat-label>
      <textarea matInput formControlName="diagnosis" placeholder="Diagnostic"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Posologie</mat-label>
      <textarea matInput formControlName="instructions" placeholder="enter posology"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Indications</mat-label>
      <textarea matInput formControlName="indications" placeholder="Indications"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date de Début</mat-label>
        <input matInput formControlName="startDate" type="date" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date de Fin</mat-label>
      <input matInput formControlName="endDate" type="date" required />
    </mat-form-field>
  </section>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" [disabled]="pharmacyForm.invalid" (click)="validatePrescription()">Valider la Prescription</button>
</mat-dialog-actions>
