<nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow-im">
  <div class="container-fluid">
    <a class="navbar-brand align-item-center d-flex" routerLink=""
      >
      <i
      class="fa fa-graduation-cap"
        style="color: rgb(5, 38, 223); width: 40px; font-size: 40px; margin-right: 15px;"
      ></i>
      <strong style="color: rgb(246, 193, 0); font-size: 30px">
        WC PROVIDERS</strong
      ></a
    >
    <button routerLink="cart" class="btn btn-outline-primary-outline" type="submit">
      <i style="font-size: 30px" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px" class="badge bg-danger">{{ totalItem }}</div>
    </button>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="gestionDesPlaies"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Gestion des Soins Des Plaies</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="facilityPatners"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Partenariat Avec des Etablissement</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="Carrieres"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Carrieres</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="Environ"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Environ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="Nouvelle"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Nouvelles</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="contact"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
