

 

  /* Container */
  .container {
    align-items: center;
    max-width: 2200px;
    padding: 20px;
    width: 100%;
    image-rendering: auto;
    background-image: url("https://res.cloudinary.com/dtdpx59sc/image/upload/v1687844885/website%20assets/charanjeet-dhiman-mHusyBu4bxM-unsplash_iy0mov.jpg");
    background-size: cover;
}

  /* Contact Section */
  .contact-header {
    text-align: center;
    padding: 20px;
  }

  .contact-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #006699;
  }

  .contact-header p {
    font-size: 1.1em;
    color: #555;
  }

  /* Contact Details and Form Layout */
  .contact-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }

  /* Contact Details */
  .contact-details {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .contact-details h3 {
    color: #006699;
    margin-bottom: 10px;
  }

  .contact-details p {
    margin-bottom: 8px;
    font-size: 1em;
    color: #080000;
  }

  /* Contact Form */
  .contact-form {
    flex: 2;
    min-width: 300px;
    padding: 20px;
    border: 1px solid #0c0000;
    border-radius: 8px;
    background-color: #a5e10e;
  }

  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
  }

  .contact-form button {
    background-color: #4cf304d1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }

  .contact-form button:hover {
    background-color: #de04d7;
  }

  /* Map Section */
  .map {
    margin-top: 30px;
    text-align: center;
  }

  .map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 8px;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-content {
      flex-direction: column;
    }

    .contact-header h1 {
      font-size: 2em;
      text-align: center;
      font-weight: bold;
      color: goldenrod;
    }

    .contact-form button {
      width: 100%;
    }
  }