    <div class="container">
        <!-- Contact Header -->
        <section class="contact-header">
          <h1>Contact WCProvider</h1>
          <p class="text text-fluid" style="color: #fff; font-size: 2rem;">Nous sommes là pour vous aider à répondre à vos besoins en matière de soins des plaies. <br>Contactez-nous pour toute demande de renseignements, d'assistance ou pour prendre rendez-vous.</p>
        </section>
    
        <!-- Contact Details and Form -->
        <div class="contact-content">
          <!-- Contact Details -->
          <div class="contact-details">
            <h3>COMMENT NOUS CONTACTER</h3>
            <p><strong>Address:</strong> 123 Wound Care Street, City, State, ZIP</p>
            <p><strong>TELEPHONE:</strong> +1 (234) 567-890</p>
            <p><strong>Email:</strong> nosby2007gmail.com</p>
            <p><strong>Horaires:</strong> Mon - Fri, 9:00 AM - 6:00 PM</p>
          </div>
    
          <!-- Contact Form -->
          <div class="contact-form">
            <h1>Envoyez-nous un message</h1>
            
                <div class="form-group">
                    <label for="nom">Nom:</label>
                    <input [(ngModel)]="newItem.nom" id="nom" placeholder="Enter votre nom" class="form-control"/>
                    
                    <label for="description">Message:</label>
                    <textarea [(ngModel)]="newItem.message" id="message" placeholder="Enter message" class="form-control"></textarea>
                    
                    <label for="category">Email:</label>
                    <input [(ngModel)]="newItem.email" id="email" placeholder="Enter email" class="form-control" />
                    <button (click)="addMessage()" class="btn btn-primary mt-2">Add Item</button>
                  </div>
          
        </div>

        <!-- Map Section (Optional) -->
        <div class="map">
          <h3>Nos bureaux</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.684732537713!2d-122.41941568481645!3d37.7749297797594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858064f285f4df%3A0x91fcb9ad896a5f9d!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1618573591071!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>