/* Style global de la page */
.search-bar {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
  
    mat-form-field {
      width: 50%;
      max-width: 400px;
  
      input {
        font-size: 1rem;
      }
    }
  }
  
  .patients-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
  
    mat-card {
      width: 400px;
      padding: 20px;
      height: 100px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      cursor: pointer;
  
      &.has-prescriptions {
        background-color: #d203fc; /* Vert clair */
        border-left: 5px solid #dbf302; /* Bord vert */
      }
  
      &.no-prescriptions {
        background-color: #7dfc5a; /* Blanc */
        border-left: 5px solid #2702f8; /* Bord gris */
      }
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        background-color: #d6b7d3;
      }
  
      mat-card-title {
        font-size: 1.2rem;
        color: #333;
      }
  
      mat-card-subtitle {
        font-size: 0.9rem;
        color: #666;
        margin-bottom: 15px;
      }
  
      button {
        margin-top: 10px;
      }
    }
  }
  
  /* Style pour le paginator */
  mat-paginator {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: -ms-page;
  
    .mat-paginator-page-size-label {
      font-size: 0.9rem;
    }
  }
  