<h2 mat-dialog-title>Ajouter une Prescription</h2>
<mat-dialog-content [formGroup]="otherForm">
  <!-- Détails de la prescription --> 
   <mat-form-field appearance="fill">
      <mat-label>Date Prescription </mat-label>
      <input matInput formControlName="date" type="date" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Temps</mat-label>
      <input matInput type="time" formControlName="time" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Categorie</mat-label>
        <mat-select formControlName="category" required placeholder="Enter Prescription Method">
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Methode</mat-label>
      <mat-select formControlName="method" required placeholder="Enter Prescription Method">
        <mat-option value="Téléphone">Téléphone</mat-option>
        <mat-option value="Verbale">Verbale</mat-option>
        <mat-option value="Ecrite">Ecrite</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Prescripteur</mat-label>
      <input matInput formControlName="prescriber" placeholder="Enter prescriber name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Enter The description" required ></textarea>
    </mat-form-field>

    
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" required>
       <mat-option value="Directive Avancée">Directive Avancée</mat-option>
        <mat-option value="Comportement[traitement]">Comportement[traitement]</mat-option>
        <mat-option value="glycémie">glycémie</mat-option>
        <mat-option value="Diabète"> Diabète</mat-option>
        <mat-option value="Dialyse">Dialyse</mat-option>
        <mat-option value="Prescription Medical">Prescription Medical</mat-option>
        <mat-option value="Evaluation de la peau">Evaluation de la peau</mat-option>
        <mat-option value="Traitement">Traitement</mat-option>
        <mat-option value="Signes Vitaux">Signes Vitaux</mat-option>
        <mat-option value="Poids">Poids</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Anesthesie [pansement]</mat-label>
      <mat-select formControlName="route" required>
        <mat-option value="local">local</mat-option>
        <mat-option value="locaux-regionale">locaux-regionale</mat-option>
        <mat-option value="general">General</mat-option>
        <mat-option value="Subcutaneous">Subcutaneous</mat-option>
        <mat-option value="IntraMusculaire">Intra-Musculaire</mat-option>
        <mat-option value="Autre">Autres</mat-option>
      </mat-select>
    </mat-form-field>
  <section>
    <h3>Routine</h3>
    <mat-form-field appearance="fill">
      <mat-label>Fréquence</mat-label>
      <mat-select formControlName="frequency">
        <mat-option value="once-a-day">Une fois par jour</mat-option>
        <mat-option value="twice-a-day">Deux fois par jour</mat-option>
        <mat-option value="morning">Le matin</mat-option>
        <mat-option value="evening">Le soir</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Planification</mat-label>
      <mat-select formControlName="scheduleType" (selectionChange)="onScheduleTypeChange($event.value)">
        <mat-option value="daily">Tous les jours</mat-option>
        <mat-option value="every-x-days">Chaque X jours</mat-option>
        <mat-option value="specific-days">Jours spécifiques de la semaine</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Input pour 'Chaque X jours' -->
    <div *ngIf="selectedScheduleType === 'every-x-days'">
      <mat-form-field appearance="standard">
        <mat-label>Chaque combien de jours</mat-label>
        <input matInput type="number" formControlName="everyXDays" placeholder="Nombre de jours" />
      </mat-form-field>
    </div>

    <!-- Jours spécifiques -->
    <div *ngIf="selectedScheduleType === 'specific-days'">
      <h4>Sélectionnez les jours</h4>
      <mat-checkbox formControlName="monday">Lundi</mat-checkbox>
      <mat-checkbox formControlName="tuesday">Mardi</mat-checkbox>
      <mat-checkbox formControlName="wednesday">Mercredi</mat-checkbox>
      <mat-checkbox formControlName="thursday">Jeudi</mat-checkbox>
      <mat-checkbox formControlName="friday">Vendredi</mat-checkbox>
      <mat-checkbox formControlName="saturday">Samedi</mat-checkbox>
      <mat-checkbox formControlName="sunday">Dimanche</mat-checkbox>
    </div>

    <!-- Autres détails -->
    <mat-form-field appearance="fill">
      <mat-label>Code Temps de la Structure</mat-label>
      <mat-select formControlName="timeCode">
        <mat-option value="weekly">Par semaine</mat-option>
        <mat-option value="weekly-on-shift">Semaine Journée</mat-option>
        <mat-option value="day-shift">Journée</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Diagnostic Associé</mat-label>
      <textarea matInput formControlName="diagnosis" placeholder="Diagnostic"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Autres Directives</mat-label>
      <textarea matInput formControlName="instructions" placeholder="Directives"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Indications</mat-label>
      <textarea matInput formControlName="indications" placeholder="Indications"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date de Début</mat-label>
      <input matInput formControlName="date" type="startDate" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date de Fin</mat-label>
      <input matInput formControlName="enDate" type="date" required />
    </mat-form-field>
  </section>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button color="primary" [disabled]="otherForm.invalid" (click)="onSave()">Enregistrer</button>
</mat-dialog-actions>
