<h2 mat-dialog-title>Pharmacy Prescription</h2>
<mat-dialog-content>
  <form [formGroup]="otherForm">
    <mat-form-field appearance="fill">
      <mat-label>Prescription Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker  ></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Time</mat-label>
      <input matInput type="time" formControlName="time" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Categorie</mat-label>
        <mat-select formControlName="category" required placeholder="Enter Prescription Method">
          <mat-option value="Laboratory">Laboratoire</mat-option>
          <mat-option value="Pharmacy">Pharmacie</mat-option>
          <mat-option value="Diagnostic">Diagnostique</mat-option>
          <mat-option value="Supplement">Supplement</mat-option>
          <mat-option value="Nutrition">Nutrition</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prescriber</mat-label>
      <input matInput formControlName="prescriber" placeholder="Enter prescriber name" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="routine" placeholder="Enter The medication Routine Administration" required ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Methode</mat-label>
      <mat-select formControlName="method" required placeholder="Enter Prescription Method">
        <mat-option value="Téléphone">Téléphone</mat-option>
        <mat-option value="Verbale">Verbale</mat-option>
        <mat-option value="Ecrite">Ecrite</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" required>
        <mat-option value="DIrectives Avancée">DIrectives Avancée</mat-option>
        <mat-option value="Comportement">Comportement</mat-option>
        <mat-option value="Surveillance Comportement">Surveillance Comportement</mat-option>
        <mat-option value="Glycemie"> Glycemie</mat-option>
        <mat-option value="Evaluation de la peau">Evaluation de la peau</mat-option>
        <mat-option value="Pansement">Pansement</mat-option>
        <mat-option value="Signes vitaux">Signes vitaux</mat-option>
        <mat-option value="Poids">Poids</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="savePrescription()">Save</button>
</mat-dialog-actions>



