<div class="patient-details-container " *ngIf="patient$ | async as patient; else loading">
    <table class="patient-info-table table-responsive-xl table-bordered shadow table-striped table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Genre</th>
          <th>Date de Naissance</th>
          <th>Adresse</th>
          <th>Quartier</th>
          <th>Numéro de Téléphone</th>
          <th>Email</th>
          <th>Docteur</th>
          <th>Département</th>
          <th>Raison de la Consultation</th>
          <th>Mode de Paiement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ patient.name }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.dob }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.quartier }}</td>
          <td>{{ patient.phone }}</td>
          <td>{{ patient.email }}</td>
          <td>{{ patient.docteur }}</td>
          <td>{{ patient.departement }}</td>
          <td>{{ patient.raison }}</td>
          <td>{{ patient.paiement }}</td>
        </tr>
      </tbody>
    </table>
  
    
  
    <div class="emergency-contact-section">
      <h3>Contact d'Urgence</h3>
      <table class="emergency-contact-table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Relation</th>
            <th>Téléphone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ patient.Ename }}</td>
            <td>{{ patient.relationship }}</td>
            <td>{{ patient.Ephone }}</td>
          </tr>
        </tbody>
      </table>
      
      <div class="patient-actions">
      <button (click)="editPatient()">Modifier</button>
      <button (click)="printPatient()">Imprimer</button>
      <button class="btn" style="color: #fff; background-color: #ff8c00;" [routerLink]="['/patientCli']">Retour</button>
    </div>
    </div>
  </div>
  
  <ng-template #loading>
    <p>Chargement des détails du patient...</p>
  </ng-template>

  <div class="patient-detail-container">
    <mat-tab-group>
      <!-- Tab: Dash -->
      <mat-tab label="Dash">
        <div class="tab-content">
          <h3>Dash</h3>
          <p>Details and dashboard for the patient.</p>
        </div>
      </mat-tab>
  
      <!-- Tab: Profile -->
      <mat-tab label="Profile">
        <div class="tab-content">
          <h3>Profile</h3>
          <p>Patient profile information.</p>
        </div>
      </mat-tab>
  
      <!-- Tab: Skin and Wound -->
      <mat-tab label="Skin and Wound">
        <div class="tab-content">
          <h3>Skin and Wound</h3>
          <p>Details about skin and wound care.</p>
        </div>
      </mat-tab>
  
      <!-- Tab: Census -->
      <mat-tab label="Census">
        <div class="tab-content">
          <h3>Census</h3>
          <p>Patient census data.</p>
        </div>
      </mat-tab>
  
      <!-- Tab: Orders -->
      <mat-tab label="Orders">
        <div class="tab-content">
          <mat-tab label="Prescriptions">
            <div>
              <mat-menu #prescriptionMenu="matMenu">
                <button mat-menu-item (click)="openPrescriptionModal('Pharmacy')">Pharmacy</button>
                <button mat-menu-item (click)="openPrescriptionModal('Laboratory')">Laboratory</button>
                <button mat-menu-item (click)="openPrescriptionModal('Diagnostic')">Diagnostic</button>
                <button mat-menu-item (click)="openPrescriptionModal('Nutrition')">Nutrition</button>
                <button mat-menu-item (click)="openPrescriptionModal('Supplement')">Supplement</button>
                <button mat-menu-item (click)="openPrescriptionModal('Other')">Other</button>
              </mat-menu>
              
              <button mat-raised-button color="primary" [matMenuTriggerFor]="prescriptionMenu">
                New Prescription
              </button>

              <button mat-raised-button color="primary" style="margin-left: 20px; background-color: #ff8c00;" [routerLink]="'/order'">
                Voir Toutes les Prescriptions
              </button>
              
              <div *ngIf="prescriptions.length > 0; else noData">

                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                  <mat-cell *matCellDef="let prescription">
                    {{ prescription.date *10 | date: 'short' }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                  <mat-cell *matCellDef="let prescription">
                    {{ prescription.time }}
                  </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                  <mat-cell *matCellDef="let prescription">
                    {{ prescription.type }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="prescriber">
                  <mat-header-cell *matHeaderCellDef> Prescripteur </mat-header-cell>
                  <mat-cell *matCellDef="let prescription">
                    {{ prescription.prescriber }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="routine">
                  <mat-header-cell *matHeaderCellDef> Routine </mat-header-cell>
                  <mat-cell *matCellDef="let prescription">
                    {{ prescription.routine }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="route">
                  <mat-header-cell *matHeaderCellDef> route </mat-header-cell>
                  <mat-cell *matCellDef="let prescription">
                    {{  prescription.route }}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="method">
                  <mat-header-cell *matHeaderCellDef> Methode </mat-header-cell>
                  <mat-cell *matCellDef="let prescription">
                    {{  prescription.method }}
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              </div>
              <ng-template #noData>
                <p>Aucune prescription disponible pour le moment.</p>
              </ng-template>            
            </div>
          </mat-tab>
        </div>
      </mat-tab>
  
      <!-- Tab: Vitals/Signs -->
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
      <mat-tab label="Vitals/Signs">
        <div class="tab-content">
          <h3>Vitals/Signs</h3>
          <p>Details about patient vital signs.</p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  
  
  

  
  