<div class="patient-details-container " *ngIf="patient$ | async as patient; else loading">
    <table class="patient-info-table table-responsive-xl table-bordered shadow table-striped table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Genre</th>
          <th>Date de Naissance</th>
          <th>Adresse</th>
          <th>Quartier</th>
          <th>Numéro de Téléphone</th>
          <th>Email</th>
          <th>Docteur</th>
          <th>Département</th>
          <th>Raison de la Consultation</th>
          <th>Mode de Paiement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ patient.name }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.dob | date }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.quartier }}</td>
          <td>{{ patient.phone }}</td>
          <td>{{ patient.email }}</td>
          <td>{{ patient.docteur }}</td>
          <td>{{ patient.departement }}</td>
          <td>{{ patient.raison }}</td>
          <td>{{ patient.paiement }}</td>
        </tr>
      </tbody>
    </table>
  
    
  
    <div class="emergency-contact-section">
      <h3>Contact d'Urgence</h3>
      <table class="emergency-contact-table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Relation</th>
            <th>Téléphone</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ patient.Ename }}</td>
            <td>{{ patient.relationship }}</td>
            <td>{{ patient.Ephone }}</td>
          </tr>
        </tbody>
      </table>
      
      <div class="patient-actions">
      <button (click)="editPatient()">Modifier</button>
      <button (click)="printPatient()">Imprimer</button>
      <button class="btn btn-dark" [routerLink]="['/PatientList']">Retour</button>
    </div>
    </div>
  </div>
  
  <ng-template #loading>
    <p>Chargement des détails du patient...</p>
  </ng-template>