  <div class="container">
    <!-- About Us Section -->
    <section class="about-us">
      <h1>About WCP</h1>
      <p>Welcome to WCP, a dedicated wound care provider that focuses on delivering exceptional wound care services for individuals at all stages of healing. At WCP, our priority is to offer professional, compassionate, and tailored care that promotes optimal healing and enhances quality of life. Our skilled team of healthcare professionals is committed to providing the highest level of service in wound care.</p>
    </section>

    <!-- Objectives Section -->
    <section class="objectives">
      <h2>Our Objectives</h2>
      <ul>
        <li>Delivering expert wound care tailored to individual needs, ensuring each client receives optimal treatment for their specific condition.</li>
        <li>Offering a compassionate and supportive environment where healing and recovery are prioritized.</li>
        <li>Promoting awareness and education about wound prevention, management, and overall skin health.</li>
        <li>Continuously improving our services and staying updated on the latest wound care practices and technologies.</li>
      </ul>
    </section>

    <!-- Image Section -->
    <div class="wound-care-image">
      <img src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731465599/website%20assets/remedy_application_shoulder_hkbouw.jpg" alt="Wound care in action">
    </div>
  </div>