<div class="container">
    <div class="row">
        <ng-container>
            <div class="card col-md-3" *ngFor="let item of items">
                <img src="{{ item.image1 }}" alt="..." />
                <h1 style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
                    {{ item.nom }}
                </h1>
                <p style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
                <p>{{ item.category}}</p>
                <button class="btn btn-warning" [routerLink]="['/menu', item.id]"> découvrir</button>
            </div>
            
        </ng-container>
           
    </div>
</div>


