<div class="container">
    <div class="row">
        <ng-container>
            <div class="card col-md-3" *ngFor="let item of items">
                <img src="{{ item.image }}" alt="..." />
                <h5 style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
                    {{ item.nom }}
                </h5>
                <p style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
                    {{ item.description }}
                </p>
                <p>price :FCFA{{ item.description1 }}</p>
                <p>{{ item.category }}</p>
                <p>{{ item.description2 }}</p>
                <button class="btn btn-warning" [routerLink]="['/menu', item.id]"> découvrir</button>
            </div>
            
        </ng-container>
           
    </div>
</div>
<div class="container">
    <div class="row">
        <ng-container>
            <div class="card col-md-3" *ngFor="let message of message">
                
                <h1>
                    {{ message.nom }}
                </h1>
                <h5 style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
                    {{ message.email }}
                </h5>
                <p style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
                    {{ message.message }}
                </p>
                
                <button class="btn btn-warning" [routerLink]="['/menu', message.id]"> découvrir</button>
            </div>
            
        </ng-container>
           
    </div>
</div>

