.mat-table {
    width: 100%;
    overflow-x: auto;
  }

  mat-dialog-container {
    width: 100%;
    max-width: 600px;
  }
  
  @media (max-width: 768px) {
    mat-dialog-container {
      max-width: 100%;
      margin: 0;
    }
  }
  
  
  @media (max-width: 768px) {
    .mat-table {
      font-size: 14px;
    }
  
    .new-prescription-button {
      width: 100%;
    }
  }
  