<h2 mat-dialog-title>Créer une évaluation</h2>
<div class="table-scrollable">
  
</div>
<mat-dialog-content>
  form [formGroup]="nurseForm" class="form form-responsive mb-10">
  <!-- Date et Heure -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Date de l'évaluation</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="assessmentDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Heure</mat-label>
    <input matInput type="time" [(ngModel)]="assessmentTime">
  </mat-form-field>

  <!-- Menu déroulant pour sélectionner l'évaluation -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Type d'évaluation</mat-label>
    <mat-select [(ngModel)]="selectedAssessment">
      <mat-option *ngFor="let assessment of assessments" [value]="assessment">
        {{ assessment.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Sélection du type de routine -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Routine</mat-label>
    <mat-select [(ngModel)]="assessmentRoutine">
      <mat-option value="weekly">Hebdomadaire</mat-option>
      <mat-option value="monthly">Mensuelle</mat-option>
      <mat-option value="quarterly">Trimestrielle</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" (click)="onSave()">Enregistrer</button>
</mat-dialog-actions>
