<table>
    <thead>
      <tr>
        <th>Patient ID</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Time</th>
        <th>Reason</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td>{{ appointment.patientId }}</td>
        <td>{{ appointment.doctor }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
        <td>{{ appointment.reason }}</td>
        <td>
          <button (click)="deleteAppointment(appointment.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  
