.banner {
    height: 900px;
    background-position: center;
    background-size:comparable($number1:1200 , $number2: 1200);
}
.carousel-item img {
    height: 600px;
    background-position: center;
    background-size:comparable($number1:1200 , $number2: 1200);
}
//marquee
.section-course{
    margin-top: 25px;
    text-align: center;
    justify-content: center;
}

/*.container{
    width: 1200vh;
    height: auto;
    border: 1px solid dark;
    background-color: #5ddcff;
}
.container .row{
    width: 100%;
}
.marquee{
    background-color: rgb(249, 11, 178);
    padding: 2px 2px;
    
}*/

.h1,
.h2,
.h3 {
  color: var(--space-cadet-2);
  line-height: 1.3;
  font-weight: var(--fw-800);
}

.h1 { font-size: var(--fs-1); }

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
}


@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360%;
    }
}


.container .braidBox{
    padding: 20px 5px;
    width:100% ;
    height: inherit;
}
.braidBox img{
    
        width: 100%;
        height: 350px;
        object-fit: cover;

    border-radius: 30px;
    transition: 0.3s ease-in-out;
    transition: var(--rotate);
}
.braidBox img:hover {
    transition: 0.3 ease-in-out;
    transform: scale(1.5);
    color: rgb(88 199 250 / 100%);
    transition: color .1s;
}

.braidBox img:hover:before, .braidBox img:hover:after {
    animation:none;
    opacity: 0;
}
.braidBox img::before {
    animation: spin 2.5s linear infinite;
}
.braidBox img::after {
    transform: scale(0.8);
    filter: blur(cal(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}


.braidBox h1{
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
    margin-top: 20px;
    color: var(--space-cadet-2);
    line-height: 1.3;
    font-weight: var(--fw-800);
    font-size: 40px;
}
.braidBox p{
    color: #f9d403;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}

.btn .bi {
    padding: 10px 15px;
    margin: 5px;
}

@media screen and (max-width: 600px) 
{
    .banner {
        height: 700px;
    }
    .stepBox{
        padding-top: 0px;
        padding-bottom: 5px;
        margin: 5px 5px;
        transition: 0.3 ease-in-out;
    }
    .stepBox:hover
    {
        transition: 0.3 ease-in-out;
        transform: scale(1.1);
    }

}
@media screen and (max-width: 991px) 
{
        .stepBox{
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 5px 5px;
    }

}