<div class="homepage-container">
  <!-- Header Section -->
  <header class="hero-section">
    <h1>Wound Care Provider Burkina Faso</h1>
    <p>
      Votre partenaire en soins humains et personnalisés, au service de
      Ouagadougou et de tout le Burkina Faso.
    </p>
    <button class="cta-button"  [routerLink]="['/menu']">
      Découvrez nos services
    </button>
  </header>

  <!-- Carousel Section -->


  <!-- About Us Section -->
  <section class="about-us" id="about">
    <h2>À Propos de Nous</h2>
    <div class="container">
     <div class="row"> 
    <div>
        <p style="text-align: justify;">
            Depuis 2018 à Ouagadougou, Wound Care Provider (WCP) se distingue par son expertise dans la prise en charge des plaies à domicile. <br> Alliant professionnalisme, compassion et respect, notre équipe offre des soins personnalisés, adaptés aux besoins uniques de chaque patient, dans le confort de leur foyer. Spécialisé dans les plaies chroniques, post-opératoires et traumatiques, WCP applique les normes médicales les plus strictes tout en plaçant l'humain au cœur de son approche. <br> Chaque intervention vise à garantir dignité, guérison optimale et accompagnement moral. Avec un engagement constant envers l’excellence, WCP redéfinit les standards des soins à domicile, fidèle à sa mission : soigner avec amour et respect pour la vie.

            Reservez via Tel
            +227 (400) 123 4567
    </p>
    <button class="cta-button" [routerLink]="['/contact']">
      Contactez-nous
    </button>

    </div>
   
    </div>    
    </div>
   
   
    
  </section>


  <!-- Services Section -->
  <section class="services" id="services">
    <h2>Nos Services</h2>
    <div class="service-list">
      <div class="service-card">
        <img
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782320/website%20assets/file-8qwfJB64N88aYfdvtKtp4IOG_n450qg.webp"
          alt="Soins de Plaies"
        />
        <h3>Soins de Plaies</h3>
        <p>
          Des soins adaptés pour toutes les plaies, avec des techniques modernes
          et un suivi personnalisé.
        </p>
        <button class="btn btn-warning" [routerLink]="['/menu']"> découvrir</button>
      </div>
      <div class="service-card">
        <img
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782319/website%20assets/file-Dy15BeoA0dCwERFBiSV0hMaz_di0ozb.webp"
          alt="Soins à Domicile"
        />
        <h3>Soins Infirmiers à Domicile</h3>
        <p>Assistance et soins infirmiers dans le confort de votre domicile.</p>
        <button class="btn btn-warning" [routerLink]="['/menu']"> découvrir</button>
      </div>
      <div class="service-card">
        <img
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782319/website%20assets/file-1ddi2JGCNQTQP0OUIfWpIhAQ_wru9ij.webp"
          alt="Formations en Secourisme"
        />
        <h3>Formations et Certifications</h3>
        <p>
          Programmes pour particuliers et entreprises en soins spécialisés et
          premiers secours.
        </p>
        <button class="btn btn-warning" [routerLink]="['/menu']"> découvrir</button>
      </div>
      <div class="service-card">
        <img
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1730531285/Designer_2_dneghg.jpg"
          alt="Partenariats"
        />
        <h3>Partenariats</h3>
        <p>
          Des solutions collaboratives avec les entreprises, les structures de
          santé, et les assurances.
        </p>
        <button class="btn btn-warning" [routerLink]="['/calecons']"> découvrir</button>
      </div>
    </div>
  </section>

  <!-- Testimonials Section -->
  <section class="testimonials">
    <h2>Ce que disent nos clients</h2>
    <div class="testimonial-slider">
      <div class="testimonial-card">
        <img
          style="
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-position: center;
            margin-left: 35%;
          "
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687839936/website%20assets/woman-g9c78a6b3c_1280_ezy23z.jpg"
          alt=""
        />
        <p>
          "Grâce à WCP, ma mère a reçu des soins exceptionnels à domicile. Merci
          pour votre professionnalisme."
        </p>
        <h4>- Fatimata S.</h4>
      </div>
      <div class="testimonial-card">
        <img
          style="
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-position: center;
            margin-left: 35%;
          "
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687839936/website%20assets/woman-g9c78a6b3c_1280_ezy23z.jpg"
          alt=""
        />

        <p>
          "La formation en premiers secours m’a permis de sauver une vie. Je
          recommande vivement WCP."
        </p>
        <h4>- Jean K.</h4>
      </div>
      <div class="testimonial-card">
        <img
          style="
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-position: center;
            margin-left: 35%;
          "
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687839936/website%20assets/woman-g9c78a6b3c_1280_ezy23z.jpg"
          alt=""
        />

        <p>
          "Les soins infirmiers à domicile m'ont apporté un réel confort pendant
          ma convalescence."
        </p>
        <h4>- Alphonse T.</h4>
      </div>
      <div class="testimonial-card">
        <img
          style="
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-position: center;
            margin-left: 35%;
          "
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1687839936/website%20assets/woman-g9c78a6b3c_1280_ezy23z.jpg"
          alt=""
        />

        <p>
          "Les soins infirmiers à domicile m'ont apporté un réel confort pendant
          ma convalescence."
        </p>
        <h4>- Alphonse T.</h4>
      </div>
    </div>
  </section>

  <!-- Events Section -->
  <section class="events">
    <h2>Nos Événements à Venir</h2>
    <div class="event-list">
      <div class="event-card">
        <img
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782320/website%20assets/file-8qwfJB64N88aYfdvtKtp4IOG_n450qg.webp"
          alt="Soins de Plaies Professionnels"
        />
        <h3>Formation en Premiers Secours</h3>
        <p>Date : 25 Novembre 2024 - Ouagadougou</p>
        <p>
          Description : Apprenez les bases pour intervenir en cas d'urgence.
        </p>
         <div class="btn btn-success"  [routerLink]="['/reservation']">Réservez</div>
      </div>
      <div class="event-card">
        <img
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782320/website%20assets/file-vvJoQ6aN6VPxbsCjQE9oBgRx_eae0pl.webp"
          alt="Soins à Domicile"
        />

        <h3>Sensibilisation sur les Soins de Plaies</h3>
        <p>Date : 10 Décembre 2024 - Centre Médical ABC</p>
        <p>
          Description : Découvrez les nouvelles techniques de soin et prévention
          des plaies.
        </p>
         <div class="btn btn-success"  [routerLink]="['/reservation']">Réservez</div>
      </div>
      <div class="event-card">
        <img
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782320/website%20assets/file-vvJoQ6aN6VPxbsCjQE9oBgRx_eae0pl.webp"
          alt="Soins à Domicile"
        />

        <h3>Formation gestion des Escares</h3>
        <p>Date : 10 Févriere 2025 - Centre Des Soins WCProvider</p>
        <p>
          Description : Découvrez les nouvelles techniques de soin et prévention
          des Escares.
        </p>
         <div class="btn btn-success"  [routerLink]="['/reservation']">Réservez</div>
      </div>
      <div class="event-card">
        <img
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782320/website%20assets/file-vvJoQ6aN6VPxbsCjQE9oBgRx_eae0pl.webp"
          alt="Soins à Domicile"
        />

        <h3>Formation Gestion des Escares</h3>
        <p>Date : 10 Févriere 2025 - Centre Des Soins WCProvider</p>
        <p>
          Description : Découvrez les nouvelles techniques de soin et prévention
          des Escares.
        </p>
         <div class="btn btn-success"  [routerLink]="['/reservation']">Réservez</div>
      </div>
      <div class="event-card">
        <img
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1731782320/website%20assets/file-vvJoQ6aN6VPxbsCjQE9oBgRx_eae0pl.webp"
          alt="Soins à Domicile"
        />

        <h3>Formation Gestion des Escares</h3>
        <p>Date : 10 Févriere 2025 - Centre Des Soins WCProvider</p>
        <p>
          Description : Découvrez les nouvelles techniques de soin et prévention
          des Escares.
        </p>
        <div class="btn btn-success"  [routerLink]="['/reservation']">Réservez</div>
      </div>
      
    </div>
  </section>

  <!-- Contact and Location Section -->
  <section class="contact-location" id="contact">
    <h2>Contactez-nous</h2>
    <form (ngSubmit)="onSubmitContactForm()">
      <input type="text" name="name" placeholder="Votre nom" required />
      <input type="email" name="email" placeholder="Votre email" required />
      <textarea name="message" placeholder="Votre message" required></textarea>
      <button type="submit" class="cta-button">Envoyer</button>
    </form>
    <p>Email : contactwcpburkina.com | Téléphone : +226 00 00 00 00</p>
    <p>Adresse : Quartier Zogona, Ouagadougou, Burkina Faso</p>
    <iframe
      src="https://maps.google.com/maps?q=Ouagadougou&t=&z=13&ie=UTF8&iwloc=&output=embed"
      class="map"
    ></iframe>
  </section>

  <footer class="footer">
    <p>© 2024 Wound Care Provider Burkina Faso - Tous droits réservés</p>
  </footer>
</div>
