<style>
  :root {
   --color-white-100: hsl(206, 5%, 100%);
   --color-white-200: hsl(206, 5%, 90%);
   --color-white-300: hsl(206, 5%, 80%);
   --color-white-400: hsl(206, 5%, 65%);
   --color-white-500: hsl(206, 5%, 50%);
   --color-black-100: hsl(213, 20%, 10%);
   --color-black-200: hsl(213, 23%, 8%);
   --color-black-300: hsl(214, 21%, 6%);
   --color-black-400: hsl(210, 21%, 6%);
   --color-black-500: hsl(216, 22%, 4%);
   --color-black-600: hsl(220, 18%, 3%);
   --color-black-700: hsl(220, 27%, 2%);
   --color-black-800: hsl(180, 20%, 1%);
   --color-blue-100: hsl(214, 95%, 93%);
   --color-blue-200: hsl(213, 97%, 87%);
   --color-blue-300: hsl(212, 96%, 78%);
   --color-blue-400: hsl(213, 94%, 68%);
   --color-blue-500: hsl(217, 91%, 60%);
   --color-blue-600: hsl(221, 83%, 53%);
   --color-blue-700: hsl(224, 76%, 48%);
   --color-blue-800: hsl(226, 71%, 40%);
   --color-blue-900: hsl(224, 64%, 33%);
   --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

 /* Style each tab content individually */
 #SmartCare {background-image:url("https://res.cloudinary.com/dtdpx59sc/image/upload/v1730355384/Designer_2_ljfa7e.jpg");
background-size: cover; background-position: top;}
 #Certification {background-image:url("https://res.cloudinary.com/dtdpx59sc/image/upload/v1730531285/Designer_2_dneghg.jpg");background-size: cover; background-position: top;}
 #Carriere {background-image:url("https://i.ibb.co/89CkTnL/Designer.jpg");background-size: cover;}
 #Boutique {background-image:url("https://res.cloudinary.com/dtdpx59sc/image/upload/v1730355384/Designer_c1wbjk.jpg");background-size: cover;}
 
 .header{
   height: 100px;
}
.tablink {
   background-color: #555;
   color: white;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   font-size: 17px;
   width: 25%;
   height: 100px;
   margin: 1 1;
   
 }
 
 /* Change background color of buttons on hover */
 .tablink:hover {
   background-color: #aef3f493;
 }
 
 /* Set default styles for tab content */
 .tabcontent {
   color: white;
   display: none;
   padding: 50px;
   text-align: center;
   height: 600px;
 }
 .tabcontent h1,p,a{
   position: relative;
   top: 50%;
   font-weight: bold;
 }
 
 

 main {
   overflow: hidden;
}
a,
button {
   cursor: pointer;
   border: none;
   color: azure;
   outline: none;
   user-select: none;
   background: none;
   background-color: var(--color-blue-800);
   box-shadow: coral;
   text-decoration: none;
}
img,
video {
   display: block;
   max-width: 200%;
   height: auto;
   object-fit: cover;
}

.section {
   margin: 0 auto;
   padding: 6rem 0 1rem;
}
.container {
   max-width: 75rem;
   height: auto;
   margin: 0 auto;
   padding: 0 1.25rem;
   background-color: var(--color-black-500)
}
.centered {
   text-align: center;
   vertical-align: middle;
   margin-bottom: 1rem;
}

.container h2{
   text-align: center;
   text-transform: uppercase;
   font-size: 35px;
   margin-bottom: 25px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .services{
   justify-content: space-around;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.container .services .card{
   width: 330px;
   text-align: center;
   background: #222;
   padding: 20px 15px;
   margin-bottom: 30px;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.3s;
}

.container .services .card:hover{
   background: blueviolet;
}

.container .services .card .content{
   transition: 0.3s;
}

.container .services .card:hover .content{
   transform: scale(1.07);
}

.container .services .card .content .icon{
   padding: 5px 0;
   color: gold;
}

.container .services .card .content .icon i{
   font-size: 40px;
}

.container .services .card:hover .content .title{
   color: white;
}

.container .services .card .content .title{
   padding: 5px 0;
   font-size: 24px;
   font-weight: 500;
   color: blueviolet;
   transition: 0.3s;
 }
 .paragraph {
   font-family: inherit;
   font-size: clamp(1rem, 2vw, 1.125rem);
   text-wrap: balance;
   color: var(--color-blue-900);
}
</style>
<!-- header -->

<div class="header">
  <section class="header">
    <div id="SmartCare" class="tabcontent">
      <a
        class="nav-link active"
        routerLink="/login"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <h1 style="font-size: 3.5rem; color: #ffffff; font-weight: bold">
          SmartCare
        </h1>
        <p style="font-size: 1.5rem; color: white; font-weight: 400">
          Connexion au Portail
        </p>
        <i class="fa fa-sign-in" style="font-size: 3rem; color: red"></i>
      </a>
    </div>

    <div id="Certification" class="tabcontent">
      <a
        class="nav-link active"
        routerLink="/login"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <h1 style="font-size: 3.5rem; color: #ffffff; font-weight: bold">
          Certification WCprovider
        </h1>
        <p style="font-size: 1.5rem; color: white; font-weight: 400">
          portail login
        </p>
        <i class="fa fa-sign-in" style="font: size 3rem; color: red"></i>
      </a>
    </div>

    <div id="Carriere" class="tabcontent">
      <a
        class="nav-link active"
        routerLink="/login"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <h1 style="font-size: 3.5rem; color: #ffffff; font-weight: bold">
          Carriere Chez WCP
        </h1>
        <p style="font-size: 1.5rem; color: white; font-weight: 400">
          Postulez des aujourd'hui
        </p>
        <i class="fa fa-sign-in" style="font: size 10rem; color: red"></i>
      </a>
    </div>

    <div id="Boutique" class="tabcontent">
      <a
        class="nav-link active"
        routerLink="/login"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <h1 style="font-size: 3.5rem; color: #ffffff; font-weight: bold">
          WCP SHOP
        </h1>
        <p style="font-size: 1.5rem; color: white; font-weight: 400">
          Produits Soins
        </p>
        <i class="fa fa-sign-in" style="font: size 3rem; color: red"></i>
      </a>
    </div>

    <button
      class="tablink"
      onclick="openCity('SmartCare', this, 'gold')"
      id="defaultOpen"
    >
      SmartCare Portail Login
    </button>
    <button class="tablink" onclick="openCity('Certification', this, 'green')">
      Certification en soins de Plaies
    </button>
    <button class="tablink" onclick="openCity('Carriere', this, 'blue')">
      Carrieres chez WCP
    </button>
    <button class="tablink" onclick="openCity('Boutique', this, 'orange')">
      Boutique WCP
    </button>
  </section>
</div>

<!-- a propos -->
<div class="container container-sm">
  <section class="section banner banner-section">
    <div class="container banner-column">
      <img
        class="banner-image"
        style="border-radius: 50%"
        src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1730531285/Designer_2_dneghg.jpg"
        alt="banner"
      />
      <div class="banner-inner">
        <h2
          class="heading-xl"
          style="color: blue; font-weight: bold; text-align: center"
        >
          WCP sait que vos patients et leur famille comptent sur vous pour des
          soins de haute qualité
        </h2>
        <h3
          style="
            color: blue;
            margin-left: 50px;
            font-weight: bold;
            text-align: justify;
          "
        >
          C'est Un Honeur de Servir vos Patients
        </h3>
        <div class="icone" style="margin-left: 200px">
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 193, 37);
              justify-content: center;
            "
            class="material-symbols-outlined"
            tyle="color: blue;margin-left: 50px; font-weight: bold; text-align: justify;"
          >
            star_rate
          </span>
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 188, 20);
              justify-content: center;
            "
            class="material-symbols-outlined"
          >
            star_rate
          </span>
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 189, 24);
              justify-content: center;
            "
            class="material-symbols-outlined"
          >
            star_rate
          </span>
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 190, 26);
              justify-content: center;
            "
            class="material-symbols-outlined"
          >
            star_rate
          </span>
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 189, 23);
              justify-content: center;
            "
            class="material-symbols-outlined"
          >
            star_rate
          </span>
        </div>
        <h4>
          Les Autres Compgnies de soins de plaies traitent les plaies.... Chez
          WC Providers, nous Soignons des Patients
        </h4>

        <p
          class="paragraph"
          style="
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            justify-content: center;
          "
        >
          Nous nous engageons à fournir un niveau de soins exceptionnel aux
          patients souffrant de plaies dans les établissements de soins
          infirmiers qualifiés et autres établissements résidentiels. Nos
          professionnels de la santé certifiés collaborent avec le personnel de
          l’établissement pour apporter une gestion des soins des plaies de
          pointe directement au chevet du patient
        </p>
        <br /><br /><br />

        <button class="btn btn-primary btn-inline">
          Our Products<i class="bx bx-right-arrow-alt"></i>
        </button>
      </div>
    </div>
  </section>
</div>

<!-- Partenariat -->

<div
  class="container"
  style="
    background-image: url('https://res.cloudinary.com/dtdpx59sc/image/upload/v1730680602/colegue_krddh4.jpg');
    background-size: cover;
    max-width: 100%;
  "
>
  <section class="section banner banner-section">
    <div class="row">
      <div class="container col-lg-6"></div>

      <div class="container banner-column col-lg-6">
        <div class="banner-inner">
          <h2
            class="heading-xl"
            style="
              color: rgb(252, 252, 255);
              font-weight: bold;
              text-align: center;
            "
          >
            Soins attentionnés pour les patients de votre établissement
          </h2>
          <h3
            style="
              color: rgb(248, 248, 250);
              font-weight: bold;
              text-align: justify;
            "
          >
            Nous comprenons votre engagement à fournir les meilleurs soins
            possibles à vos patients. Lorsqu'ils présentent une plaie, vous
            souhaitez un partenaire qui peut vous aider à respecter cet
            engagement en fournissant :
          </h3>
          <ul
            style="color: rgb(233, 160, 2); font-size: 20px; font-weight: bold"
          >
            <li>
              <i class="fa-solid fa-star"></i> Gestion avancée des soins des
              plaies
            </li>
            <li>
              <i class="fa-solid fa-star"></i> Des dossiers détaillés et à jour
            </li>
            <li>
              <i class="fa-solid fa-star"></i> Communication et collaboration
              efficaces avec votre personnel
            </li>
            <li>
              <i class="fa-solid fa-star"></i> Données et analyses exploitables
              pour guider les décisions en matière de gestion des plaies
            </li>
            <li>
              <i class="fa-solid fa-star"></i> Soutien non clinique pour
              rationaliser la facturation, la logistique et d’autres tâches
              administratives.
            </li>
          </ul>
          <div class="container col-6"></div>
          <button class="btn btn-primary btn-inline">
            Devenez Partenaires<i class="bx bx-right-arrow-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- services -->

<div class="container">
  <h2>Our Services</h2>
  <section class="services">
    <a href="">
      <div class="card">
        <div class="content">
          <div class="icon"><i class="fa-solid fa-handshake-simple"></i></div>
          <div class="title">Partenariat WC Providers</div>
          <p>Partenaires avec compassion. Pour les Structures de soin</p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="card">
        <div class="content">
          <div class="icon"><i class="fa-solid fa-house-user"></i></div>
          <div class="title">Soin à Domicile</div>
          <p>Soins Au Chevet du Patient; les soins de plaies a domicile</p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="card">
        <div class="content">
          <div class="icon"><i class="fa-solid fa-graduation-cap"></i></div>
          <div class="title">CERTIFICATIONS</div>
          <p>
            Obtenez les Certifications WC Provider et faites vous mieux rémunéré
          </p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="card">
        <div class="content">
          <div class="icon"><i class="fa-solid fa-user-nurse"></i></div>
          <div class="title">Infirmier de Soin De plaies</div>
          <p>
            devenez Infirmier de soins de plaie et bénéficiez d'une totale
            libertéde soin!
          </p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="card">
        <div class="content">
          <div class="icon"><i class="fa-solid fa-database"></i></div>
          <div class="title">Data Base Plaies</div>
          <p>
            consultez la base de donné des plaies efficace pour ne prise en
            charge optimal
          </p>
        </div>
      </div>
    </a>
    <a href="">
      <div class="card">
        <div class="content">
          <div class="icon"><i class="fa-solid fa-briefcase"></i></div>
          <div class="title">Carrière</div>
          <p>
            Nous Offrons des emplois après votre formation et certification WCP
          </p>
        </div>
      </div>
    </a>
  </section>
</div>

<!-- certification -->

<div
  class="container container-sm"
  style="background-color: hsl(212, 96%, 78%); max-width: 100%"
>
  <section class="section banner banner-section">
    <div class="row"></div>
    <div class="container banner-column">
      <img
        class="banner-image"
        style="border-radius: 50%"
        src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1730690679/infirmier_laureat_b4l0fx.jpg"
        alt="infirmier laureat"
      />
      <div class="banner-inner">
        <h2
          class="heading-xl"
          style="color: blue; font-weight: bold; text-align: center"
        >
          Formation dispensée par des experts en soins des plaies
        </h2>
        <div class="icone" style="margin-left: 200px">
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 193, 37);
              justify-content: center;
            "
            class="material-symbols-outlined"
            tyle="color: blue;margin-left: 50px; font-weight: bold; text-align: justify;"
          >
            star_rate
          </span>
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 188, 20);
              justify-content: center;
            "
            class="material-symbols-outlined"
          >
            star_rate
          </span>
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 189, 24);
              justify-content: center;
            "
            class="material-symbols-outlined"
          >
            star_rate
          </span>
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 190, 26);
              justify-content: center;
            "
            class="material-symbols-outlined"
          >
            star_rate
          </span>
          <span
            style="
              font-weight: bold;
              font-size: 2rem;
              color: rgb(255, 189, 23);
              justify-content: center;
            "
            class="material-symbols-outlined"
          >
            star_rate
          </span>
        </div>
        <h3
          style="
            color: blue;
            margin-left: 50px;
            font-weight: bold;
            text-align: justify;
          "
        >
          Chez WCP, nous nous consacrons à la guérison des patients et sommes
          passionnés par le partage de notre expertise.
        </h3>
        <p
          class="paragraph"
          style="
            color: rgb(0, 0, 0);
            font-weight: bold;
            text-align: center;
            justify-content: center;
          "
        >
          Notre certification WCP en soins des plaies offre au personnel
          infirmier les outils pour devenir de meilleurs professionnels et les
          connaissances dont il a besoin pour identifier et évaluer efficacement
          les plaies des patients.
        </p>
        <br /><br /><br />

        <button
          class="btn btn-inline"
          style="
            background-color: rgba(237, 183, 4, 0.941);
            font-size: 20px;
            font-weight: bold;
            color: black;
            border-radius: 30px;
          "
        >
          Certification WCP<i class="bx bx-right-arrow-alt"></i>
        </button>
      </div>
    </div>
  </section>
</div>

<!-- Soin à domicile -->

<div
  class="container"
  style="
    background-color: rgb(52, 52, 253);
    background-size: cover;
    max-width: 100%;
  "
>
  <section class="section banner banner-section">
    <div class="row">
      <div class="container col-lg-6">
        <img
          class="banner-image"
          style="border-radius: 50%"
          src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1730692470/infirmier_pansement_orzgea.jpg"
          alt="banner"
        />
      </div>

      <div class="container banner-column col-lg-6">
        <div class="banner-inner">
          <h2
            class="heading-xl"
            style="
              color: rgb(252, 252, 255);
              font-weight: bold;
              text-align: center;
            "
          >
            Soulager la douleur au chevet du patient
          </h2>
          <h5
            style="
              color: rgb(248, 248, 250);
              font-weight: bold;
              text-align: justify;
            "
          >
            Du diagnostic au débridement, les prestataires de soins de QSM
            abordent les soins des plaies de manière globale, en traitant la
            plaie dans son intégralité et ses causes. Nous traitons les plaies
            et proposons des services cliniques, notamment :
          </h5>
          <ul
            style="
              color: rgb(255, 255, 255);
              font-size: 20px;
              font-weight: bold;
            "
          >
            <li>
              <i class="fa-solid fa-star" style="color: goldenrod"></i> Plaies
              de pression
            </li>
            <li>
              <i class="fa-solid fa-star" style="color: goldenrod"></i> Plaies
              chirurgicales
            </li>
            <li>
              <i class="fa-solid fa-star" style="color: goldenrod"></i> Plaies
              vasculaires
            </li>
            <li>
              <i class="fa-solid fa-star" style="color: goldenrod"></i> Plaies
              diabétiques
            </li>
            <li>
              <i class="fa-solid fa-star" style="color: goldenrod"></i>
              Débridement osseux et biopsie
            </li>
            <li>
              <i class="fa-solid fa-star" style="color: goldenrod"></i>
              Remplacement et retrait des tubes PEG et SPC
            </li>
          </ul>
          <div class="container col-6"></div>
          <button class="btn btn-primary btn-inline">
            Soins Avancés des Plaies<i class="bx bx-right-arrow-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- 
nos ideaux -->

<div class="container container-sm">
  <section class="section banner banner-section">
    <div class="container banner-column">
      <img
        class="banner-image"
        style="border-radius: 50%; border: 10px solid rgb(255, 230, 6);"
        src="https://res.cloudinary.com/dtdpx59sc/image/upload/v1730694411/professionel_qti9cx.jpg"
        alt="banner"
      />
      <div class="banner-inner">
        <h4
          style="color: blue; font-weight: bold; text-align: center"
        >
          Les experts en soins des plaies de WCP traitent et soignent les plaies
          dans les établissements de soins infirmiers spécialisés et autres
          établissements de soins résidentiels depuis plus de vingt ans.
        </h4>
        <p
          class="paragraph"
          style="
            color: rgb(31, 31, 31);
            font-weight: bold;
            text-align: center;
            justify-content: center;
          "
        >
          Au cours de cette période, les patients de tout bord ont bénéficié des
          soins exceptionnels qui découlent du partenariat entre nos experts en
          soins des plaies compatissants et le personnel dévoué de
          l’établissement qui connaît si bien ces patients.
        </p>
        <h3 style="
        color: rgb(3, 49, 253);
        font-weight: bold;
        text-align: center;
        justify-content: center;
      ">
          Nous ne sommes pas seulement des prestataires de soins de santé. Nous
          sommes des partenaires du secteur de la santé.
        </h3>
      </div>
    </div>
  </section>
</div>

<!-- script -->
<script>
  const navbarMenu = document.getElementById(" menu");
  const burgerMenu = document.getElementById("burger");
  const headerMenu = document.getElementById("header");
  // Open Close Navbar  Menu on Click Burger
  if (burgerMenu && navbarMenu) {
    burgerMenu.addEventListener("click", () => {
      burgerMenu.classList.toggle("is-active");
      navbarMenu.classList.toggle("is-active");
    });
  }
  // Close Navbar Menu on Click Menu Links
  document.querySelectorAll(".menu-link").forEach((link) => {
    link.addEventListener("click", () => {
      burgerMenu.classList.remove("is-active");
      navbarMenu.classList.remove("is-active");
    });
  });
  // Change Header Background on Scrolling
  window.addEventListener("scroll", () => {
    if (this.scrollY >= 85) {
      headerMenu.classList.add("on-scroll");
    } else {
      headerMenu.classList.remove("on-scroll");
    }
  });
  // Fixed Navbar Menu on Window Resize
  window.addEventListener("resize", () => {
    if (window.innerWidth > 768) {
      if (navbarMenu.classList.contains("is-active")) {
        navbarMenu.classList.remove("is-active");
      }
    }
  });
  function openCity(cityName, elmnt, color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(cityName).style.display = "block";
    elmnt.style.backgroundColor = color;
  }
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
