<div class="braden-form-container">
  <h2>Échelle de Braden : Formulaire d'évaluation Du risque de <br> developpement des plaies de pression</h2>

  <form [formGroup]="bradenForm" (ngSubmit)="onSubmit()">
    <!-- Perception sensorielle -->
    <div class="form-section">
      <h3 style="color: blue; font-weight:bold ; text-transform: capitalize;">1. Perception sensorielle</h3>
      <label *ngFor="let option of sensoryOptions">
        <input
          type="radio"
          [value]="option.value"
          formControlName="sensory"
        />
        {{ option.label }}
      </label>
    </div>

    <!-- Humidité -->
    <div class="form-section">
      <h3 style="color: blue; font-weight:bold ; text-transform: capitalize;">2. Humidité</h3>
      <label *ngFor="let option of moistureOptions">
        <input
          type="radio"
          [value]="option.value"
          formControlName="moisture"
        />
        {{ option.label }}
      </label>
    </div>

    <!-- Activité -->
    <div class="form-section">
      <h3 style="color: blue; font-weight:bold ; text-transform: capitalize;">3. Activité</h3>
      <label *ngFor="let option of activityOptions">
        <input
          type="radio"
          [value]="option.value"
          formControlName="activity"
        />
        {{ option.label }}
      </label>
    </div>

    <!-- Mobilité -->
    <div class="form-section">
      <h3 style="color: blue; font-weight:bold ; text-transform: capitalize;">4. Mobilité</h3>
      <label *ngFor="let option of mobilityOptions">
        <input
          type="radio"
          [value]="option.value"
          formControlName="mobility"
        />
        {{ option.label }}
      </label>
    </div>

    <!-- Nutrition -->
    <div class="form-section">
      <h3 style="color: blue; font-weight:bold ; text-transform: capitalize;">5. Nutrition</h3>
      <label *ngFor="let option of nutritionOptions">
        <input
          type="radio"
          [value]="option.value"
          formControlName="nutrition"
        />
        {{ option.label }}
      </label>
    </div>

    <!-- Frottement et cisaillement -->
    <div class="form-section">
      <h3 style="color: blue; font-weight:bold ; text-transform: capitalize;">6. Frottement et cisaillement</h3>
      <label *ngFor="let option of frictionOptions">
        <input
          type="radio"
          [value]="option.value"
          formControlName="friction"
        />
        {{ option.label }}
      </label>
    </div>
    <div class="form-section">
      <h3 style="color: blue; font-weight:bold ; text-transform: capitalize;">Date</h3>
      <label>
        <input
          type="date"
          formControlName="date"
        />
        Date
      </label>
    </div>

    <!-- Score total -->
    <div class="score-section">
      <h3 style="color: blue; font-weight:bold ; text-transform: capitalize;">Score total : {{ totalScore }}</h3>
    </div>

    <!-- Commentaire -->
    <div class="form-section">
      <h3 style="color: rgb(14, 14, 14); font-weight:bold ; text-transform: capitalize;">
        <td>A RISQUE 15-18</td><br>
        <td>RISQUE MODEREE  13-14</td><br>
        <td>HAUT RISQUE 10-12</td><br>
        <td>TRES HAUT RISQUE 9 OU EN DESSOUS</td>
      </h3>
    </div>

    <!-- Boutons -->
    <div class="button-group">
      <button type="submit" [disabled]="!bradenForm.valid">Enregistrer</button>
      <button type="button" (click)="onReset()">Réinitialiser</button>
    </div>
  </form>
</div>
