<div class="uda-container">
  <div class="tabs">
    <button
      *ngFor="let tab of tabs"
      class="tab-button"
      [class.active]="currentTab === tab"
      (click)="switchTab(tab)"
    >
      {{ tab }}
    </button>
  </div>

  <div class="filters">
    <label for="assessment-type">Assessment Type:</label>
    <select
      id="assessment-type"
      formControlName="selectedAssessment"
      (change)="onAssessmentChange()"
    >
      <option *ngFor="let type of assessmentTypes" [value]="type">
        {{ type }}
      </option>
    </select>
    <label for="days-filter">Show Assessments due in the next:</label>
    <input
      id="days-filter"
      type="number"
      formControlName="daysFilter"
      (input)="onDaysChange()"
    />
    days
  </div>

  <table class="uda-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Schedule Description</th>
        <th>Assessment Type</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let assessment of filteredAssessments">
        <td>{{ assessment.name }}</td>
        <td>{{ assessment.scheduleDescription }}</td>
        <td>{{ assessment.assessmentType }}</td>
        <td> <a style="cursor: pointer;" (click)="openPatientDetailModal()">{{ assessment.dueDate | date }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
