<div>
    <div>
        <p>Total de Prescriptions : {{ totalDiagnostic }}</p>
      </div>
      
    <h2>Liste des Patients</h2>
    <table class="patient-table table-striped shadow table-success table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.name }}</td>
          <td>
            <button mat-raised-button color="primary" (click)="loadDiagnostic(patient.id, patient.name)">
              Voir tous les Diagnostiques
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="selectedPatientName">
      <h3>diagnostics de {{ selectedPatientName }}</h3>
      <mat-form-field appearance="fill">
        <mat-label>Rechercher</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher par type, prescripteur, ou categorie" />
      </mat-form-field>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-success table-striped shadow">
        <!-- Colonne Date -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let diagnostic"> {{ diagnostic.date.toDate() | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
  
        <!-- Colonne Type -->
        <ng-container matColumnDef="rang">
          <mat-header-cell *matHeaderCellDef> Rang </mat-header-cell>
          <mat-cell *matCellDef="let diagnostic"> {{ diagnostic.rang }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="classification">
          <mat-header-cell *matHeaderCellDef> Classification </mat-header-cell>
          <mat-cell *matCellDef="let diagnostic"> {{ diagnostic.classsification }} </mat-cell>
        </ng-container>
  
        <!-- Colonne Détails -->
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef>Code </mat-header-cell>
          <mat-cell *matCellDef="let diagnostic"> {{ diagnostic.code }} </mat-cell>
        </ng-container>
  
        <!-- Colonne Prescriber -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let diagnostic"> {{ diagnostic.description }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef> crée par </mat-header-cell>
          <mat-cell *matCellDef="let diagnostic"> {{ diagnostic.username }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="commentaire">
          <mat-header-cell *matHeaderCellDef> commentaire </mat-header-cell>
          <mat-cell *matCellDef="let diagnostic"> {{ diagnostic.commentaire }} </mat-cell>
        </ng-container>
        <!-- En-tête et Lignes -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <button mat-raised-button color="primary" (click)="exportToCSV()">Exporter en CSV</button>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  