.medical-professionals {
    h2 {
      color: #004c8c;
    }
  
    .btn-new {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 10px;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .filters, .actions {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  
      input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      select {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 10px;
  
      th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
      }
  
      th {
        background-color: #f4f4f4;
      }
  
      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
  
      button {
        margin-right: 5px;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  
    .alphabet-nav {
      margin-bottom: 10px;
  
      button {
        margin-right: 5px;
        padding: 5px;
        background: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
  
        &:hover {
          background: #0056b3;
        }
      }
    }
  
    .pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      button {
        padding: 5px 10px;
        border: none;
        background: #007bff;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background: #0056b3;
        }
  
        &:disabled {
          background: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
  