<mat-card class="patient-list-card" id="patient-list-card">
  <mat-card-title>Liste des PRofessionels</mat-card-title>
  <div>
    <button mat-icon-button color="primary" (click)="openNewProfessionalModal()"><i class="material-icons">person_add</i></button>
    <button mat-icon-button color="warn">
      <i class="material-icons">local_print_shop</i>
    </button>
    <button mat-icon-button color="warn" (click)="generatePdf()">
      <i class="material-icons">local_print_shop</i>
    </button>
  </div>
  <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Recherche un patient" #input>
    </mat-form-field>
  </div>
  <div class="table table-container table-responsive-sm table-bordered table-striped table-hover">
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Columns Definition -->
      <ng-container matColumnDef="name" col-2>
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
          <mat-cell *matCellDef="let professionel" [routerLink]="['/professionel', professionel.id]" style="cursor: pointer; text-decoration:underline; color:blue"> {{professionel.name}} </mat-cell>
        </ng-container>    
      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </mat-header-cell>
        <mat-cell *matCellDef="let professionel"> {{professionel.startDate}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="npi">
          <mat-header-cell *matHeaderCellDef mat-sort-header> NPI </mat-header-cell>
          <mat-cell *matCellDef="let professionel"> {{professionel.npi}} </mat-cell>
        </ng-container>
      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Adresse Email </mat-header-cell>
        <mat-cell *matCellDef="let professionel"> {{professionel.login}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="officePhone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let professionel"> {{professionel.officePhone}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
        <mat-cell *matCellDef="let professionel"> {{professionel.type}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let professionel">
            <button mat-icon-button color="primary" (click)="editProfessionel(professionel.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteProfessionel(professionel.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="warn"  [routerLink]="['/professionel', professionel.id]" style="cursor: pointer; text-decoration:underline; color:rgb(203, 8, 246); font-size: 20px;">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
          </mat-cell>
        </ng-container>
  
        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="dataSource!.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
