<div >
  <button align="start" mat-raised-button color="secondary" style="margin-left: 20px; background-color: #40ff00;" [routerLink]="'/emar'"><i class="material-icons">arrow_back</i>
      Retour
    </button>
    <button align="end" mat-raised-button color="primary" style="margin-left: 20px; background-color: #ff8c00;" [routerLink]="'/order'"><i class="material-icons">visibility</i>
      Voir Toutes les Prescriptions
    </button>
</div>
<div class="task-header">
  <h2>Tâches pour le patient</h2>

  <!-- Navigation et filtre -->
  <div class="navigation">
    <mat-form-field appearance="outline" class="date-filter" class="col-mt-6">
      <mat-label>Sélectionnez une date</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Filtres -->
  <div class="filters">
    <button mat-raised-button color="warn" (click)="filterTasks('overdue')">Tâches en Retard</button>
    <button mat-raised-button color="primary" (click)="resetFilter()">Toutes les Tâches</button>
  </div>
</div>

<!-- Liste des tâches -->
<form [formGroup]="taskForm" (ngSubmit)="submitTaskUpdates()">
  <div class="task-list">
    <div *ngFor="let task of filteredTasks" class="task-card" [ngClass]="getTaskClass(task)" style="height: 100px;">
      <table class=" table-xl table-border">
        <tbody class="table-mt-2">
          <tr>
              <td>{{ task.medication }} </td> <br>
              <td class="text-success fw-bold lh-1">{{ task.description}}</td>
              <td></td>
              <td class="text-secondary lh-1">{{ task.instructions }}</td>
              <td></td>
              <td class="text-primary fw-bold">{{ task.status }}</td>
          </tr>
        </tbody>
      </table>
      <mat-radio-group [formControlName]="task.id">
        <mat-radio-button value="done">Terminé</mat-radio-button>
        <mat-radio-button value="not-done">Non Terminé</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <br> <br>

  <button mat-raised-button color="primary" type="submit">Enregistrer les Modifications</button>
</form>

