/* You can add global styles to this file, and also import other style files */

body{        
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dee2e6;
  background-size: cover;
}

nav a{
   color: #fff;
   text-decoration: none;
   padding: 7px 12px;
   display: inline-block;
}

@media print {
 
  #print-area, #print-area * {
    visibility: visible; /* Affiche uniquement la zone d'impression */
  }

  #print-area {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.mat-table {
  border-collapse: collapse;
}

.mat-header-row{
  background-color: #ced4da;
  height: 2px;
}
.mat-header-cell {
  color: rgb(2, 2, 2);
  font-weight: bolder;
  font-size:1rem;
  padding: 1px;
  border-right: 1px solid #ddd;
}
.mat-header-row, 
.mat-row {
  border-bottom: 1px solid #ffffff;
}

.mat-cell, 
.mat-header-cell {
  border-right: 1px solid #545050;
}
.mat-column{
  padding: 1px;
  font-size: 1.5rem;
  font-weight: bold;
}





