<div class="search-container">
  <input
    type="text"
    [(ngModel)]="query"
    placeholder="Recherchez une plaie..."
  />
  <button (click)="search()">Rechercher</button>
</div>

<div *ngIf="results.length === 0 && query">
  <p>Aucun résultat trouvé pour "{{ query }}"</p>
</div>
<div class="container" *ngIf="results.length > 0">
  <div class="row">
    <ng-container *ngFor="let wound of results">
      <div>
        <img src="{{ wound.imageUrl }}" alt="..." />
        <h1
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ wound.name }}
        </h1>
        <p
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ wound.badge1 }}
        </p>

        <button class="btn btn-warning" [routerLink]="['/details', wound.id]">
          découvrir
        </button>
      </div>
    </ng-container>
  </div>
</div>
