<div class="registration-form m-3 p-4">
  <form [formGroup]="patientForm" class="patient-form">
    <div class="container">
      <div class="row bg-primary">
        <mat-card class="patient-card">
          <mat-card-title>Ajouter un Patient</mat-card-title>
          <div class="row">
            <mat-card-content>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Nom Complet</mat-label>
                  <input matInput formControlName="name" placeholder="Nom du patient" required />
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Date Naissance</mat-label>
                  <input matInput formControlName="dob" type="date" required />
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Date d'admission</mat-label>
                  <input matInput formControlName="admission" type="date" required />
                </mat-form-field>
              </div>


              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Genre</mat-label>
                  <mat-select formControlName="gender" required>
                    <mat-option *ngFor="let option of gender" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Code Statut</mat-label>
                  <mat-select formControlName="code" required>
                    <mat-option *ngFor="let option of code" [value]="option">{{ option }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <mat-form-field appearance="fill">
                <mat-label>Téléphone</mat-label>
                <input matInput formControlName="phone" placeholder="Numéro de téléphone" required />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" placeholder="Adresse email" required />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Adresse</mat-label>
                <input matInput formControlName="address" placeholder="Adresse du patient" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Allergies</mat-label>
                <input matInput formControlName="allergie" placeholder="Allergies du patient" required />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Mode de Paiement</mat-label>
                <mat-select formControlName="paiement" required>
                  <mat-option *ngFor="let option of paiement" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Docteur</mat-label>
                <mat-select formControlName="docteur" required>
                  <mat-option *ngFor="let option of docteur" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Département</mat-label>
                <mat-select formControlName="departement" required>
                  <mat-option *ngFor="let option of departement" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Raison de la Consultation</mat-label>
                <mat-select formControlName="raison" required>
                  <mat-option *ngFor="let option of raison" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Quartier</mat-label>
                <mat-select formControlName="quartier" required>
                  <mat-option *ngFor="let option of quartier" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Nom du Contact d'Urgence</mat-label>
                <input matInput formControlName="Ename" placeholder="Nom du contact" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Quartier</mat-label>
                <mat-select formControlName="quartier" required>
                  <mat-option *ngFor="let option of quartier" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Relation</mat-label>
                <input matInput formControlName="relationship" placeholder="Relation avec le patient" required />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Téléphone</mat-label>
                <input matInput formControlName="Ephone" placeholder="Numéro de téléphone du contact" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Hopital Referenre</mat-label>
                <mat-select formControlName="hospital" required>
                  <mat-option *ngFor="let option of hospital" [value]="option">{{ option }}</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </div>

          <button *ngIf="!isUpdateActive" (click)="onSubmit()" mat-raised-button color="accent"
            class="mt-4">Submit</button>
        </mat-card>
      </div>

    </div>

  </form>
</div>