<!--<form action="">
    <input type="number" [(ngModel)]="id" name="id" placeholder="id">
    <input type="text" [(ngModel)]="category" name="category" placeholder="category">
<input type="number" [(ngModel)]="prix" name=" prix" placeholder="price">
<input type="text" [(ngModel)]="nom" name="nom" placeholder="nom">
<input type="url" [(ngModel)]="image" name="nom" placeholder="image">
<input type="text" [(ngModel)]="rating" name="rating" placeholder="rating">
<textarea name="description" [(ngModel)]="description" placeholder="description"></textarea>
<input type="submit" value="add a post" (click)="addItem()" >
</form>   -->
<div class="contact-form col-6">
    <div class="form-group">
    <label for="nom">Nom:</label>
    <input [(ngModel)]="newItem.nom" id="nom" placeholder="Enter item name" class="form-control" />
    <label for="nom">titre:</label>
    <input [(ngModel)]="newItem.titre" id="titre" placeholder="Enter item titre" class="form-control" />
    <label for="nom">Sous titre:</label>
    <textarea [(ngModel)]="newItem.soustitre" id="soustitre" placeholder="Enter item soustitre" class="form-control"></textarea> 
    
    <label for="description">Mecanisme d\'action</label>
    <textarea [(ngModel)]="newItem.description" id="description" placeholder="Enter description" class="form-control"></textarea> 
    <label for="description">Description:</label>
    <textarea [(ngModel)]="newItem.description1" id="description1" placeholder="Enter description1" class="form-control"></textarea> 
    <label for="description">Description2:</label>
    <textarea [(ngModel)]="newItem.description2" id="description2" placeholder="Enter description2" class="form-control"></textarea> 
    <label for="description">Mode emploi:</label>
    <textarea [(ngModel)]="newItem.modeemploi" id="modeemploi" placeholder="Enter mode emploi" class="form-control"></textarea> 
    
    <label for="category">Category:</label>
    <input [(ngModel)]="newItem.category" id="category" placeholder="Enter category" class="form-control" />
    
    <label for="prix">Badge1:</label>
    <textarea [(ngModel)]="newItem.badge1" type="text" id="badge1" placeholder="Enter badge" class="form-control"></textarea> 
    <label for="rating">Badge2:</label>
    <textarea [(ngModel)]="newItem.badge2" type="text" id="badge2" placeholder="badge2" class="form-control"></textarea> 
  
    <label for="image">Image URL:</label>
    <input [(ngModel)]="newItem.image" id="image" placeholder="Enter image URL" class="form-control" />
    <label for="image">Image1 URL:</label>
    <input [(ngModel)]="newItem.image1" id="image1" placeholder="Enter image1 URL" class="form-control" />
    <label for="image">Image2 URL:</label>
    <input [(ngModel)]="newItem.image2" id="image2" placeholder="Enter image2 URL" class="form-control" />
    <label for="image">Image3 URL:</label>
    <input [(ngModel)]="newItem.image3" id="image3" placeholder="Enter image3 URL" class="form-control" />
    
    
    <button (click)="addItem()" class="btn btn-primary mt-2">Add Item</button>
  </div>
</div>


>
<table class="table table-responsive table-shadow table-bordered">
    <thead>
      <tr>
        <th scope="col">image</th>
        <th scope="col">nom</th>
        <th scope="col">categorie</th>
        <th scope="col">description</th>
        <th scope="col">prix</th>
        <th scope="col">rating</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of items">
      <tr>
        <th scope="row">{{item.id}} </th>
        <td>{{ item.nom }}</td>
        <td>{{ item.titre }}</td>
        <td>{{ item.soustitre }}</td>
        
        <td>{{item.category}}</td>
        <td>{{item.description}}</td>
        <td>{{item.description1}}</td>
        <td>{{item.description2}}</td>
        <td>{{item.badge1}}</td>
        <td>{{item.badge2}}</td>
      <button (click)="editItemForm(item)" class="btn btn-warning">Edit</button>
    <button (click)="deleteItem(item.id!)" class="btn btn-danger">Delete</button>
</tr>
    
    </tbody>
  </table>





