*,
*::before,
*::after{
    --bg: #0a1428;
    --ponk: #be4b34;
    --lg: #16eac9;
    --fc:#5974f9;
    --white: #fff;

    
}


body{
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dtdpx59sc/image/upload/v1668069890/nurse_assessment_ox4ro6.jpg');
  background-size: cover;
  background-position: center;
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: var(--fc);
    border-radius: 10px;
    color: #fff; 
   
  }


.card {
    background-color: var(--fc);
    border-radius: 10px;
    color: #ebb8b8; 
   
  }
  
.card-body {
    padding: 1.5rem;
     max-width: 100%;
     width: 100%;
  }

  .card
  
.btn-info {
    background-color: var(--bg);
    border: none;
    color: var(--fc);
    font-size: x-large;
    font-weight: 500;
  }
  
a {
    font-size: 0.7rem;
    color: #fa0101;
  }
  .text{
    color: var(--ponk);
    font-size: 1rem;
    font-weight: 500;
  }
  
.btn-info:hover {
    background-color: var(--ponk);
    color: var(--white);
    font-weight: 500;
    transition: .3s linear;
  }
  